<!DOCTYPE html>
<link rel="stylesheet" href="../css/common.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
<footer class="footer-content>">
    <a href="https://github.com/ktnd111" class="github-link">
        <i class="fab fa-github"></i>
        <span>ktnd111</span>
    </a>
    <p class="copyright">© 2025 KTND111's Personal.GITHUB.IO</p>
</footer>

<style>
    .footer-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .copyright {
        font-size: 0.8rem;
        margin: 0;
    }
</style>
